a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background-color: red;
}
/**This is the header of the web **/
header{
    background-color:aqua;
    font-family: 'Lato', sans-serif;
}
ul li.submenu{
    background-color: red;
}
li .list-submenu{
    display: none;
}
.material-symbols-outlined{
    background-color: yellow;
}